body {
  max-width: 1500px;
}

h2.sample-code-title {
  margin-top: 0;
}

.component-sample .sample {
  margin-top: 10px;
}

.component-sample .sample pre {
  white-space: pre-wrap;
  margin: 0;
}

.component-sample .sample-body {
  display: flex;
  gap: 10px
}

.component-sample .description {
  margin-bottom: 10px;
}

.component-sample .sample-body .sample-panel-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.component-sample .sample-body .sample-panel-right {
  flex: 2;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  height: fit-content;
  background-color: #202b38;
}

